In [1]:


from pyquery import PyQuery as pq
import requests
from urllib.parse import urlencode,parse_qs

In [2]:
url = "https://app0001.yrapps.cn/admin/Order/orderList"

In [3]:
headers = {
    "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3",
    "accept-encoding": "gzip, deflate, br",
    "accept-language": "zh-CN,zh;q=0.9,en;q=0.8",
    "cache-control": "no-cache",
    "cookie": "PHPSESSID=ke0ck67housl8971m9i096t4k4",
    "pragma": "no-cache",
    "referer": "https://app0001.yrapps.cn/admin/index/index",
    "sec-fetch-mode": "nested-navigate",
    "sec-fetch-site": "same-origin",
    "upgrade-insecure-requests": "1",
    "user-agent": "Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36",
}

In [41]:


urlencode(params)

'order_type=original&page=2'

In [42]:
url +"?"+urlencode(params)

'https://app0001.yrapps.cn/admin/Order/orderList?order_type=original&page=2'

In [4]:
pos_map = {
    
}


columns = []

params = {
    "order_type":"original",

}
rep = requests.get(url +"?"+urlencode(params),headers=headers)
doc = pq(rep.text)




for th in doc('thead th').items():
    columns.append(th.text())




columns

['#',
 '订单号',
 '订单详情',
 '数量',
 '支付金额',
 '原价',
 '购买时折扣',
 '用户信息',
 '备注',
 '订单状态',
 '下单时间',
 '支付时间',
 '操作']

In [114]:
doc('tbody td')

[]

In [72]:
doc('thead th').text()

'# 订单号 订单详情 数量 消耗人数 用户信息 备注 订单状态 下单时间 支付时间 操作'

In [8]:
import numpy as np
import pandas as pd

In [83]:
pd.DataFrame([[1,2,3],[1,2,3]])

   0  1  2
0  1  2  3
1  1  2  3

In [86]:
td = tr('td')

In [10]:
data_l = []


for tr in doc('tbody tr').items():
    row_l = []

    for v in tr('td').items():
        row_l.append(v.text())
    data_l.append(row_l)
data = pd.DataFrame(data_l,columns=columns)

In [21]:
import re

In [ ]:
re

In [69]:
data_info = data['用户信息'].str.extract("""
(?<=下单人：)(?P<收件人>[^\n]+)
\s+手机：(?P<手机号码>[^\n]+)
\s+收货地址：(?P<收货地址>[^\n]+)""",flags=re.S|re.X)

data_dd = data['订单详情'].str.extract("""
    法国大使(?P<商品名>.+?)(?=（规格[：:])（
    规格[：:](?P<规格>.+?)(?=商品ID[：:])
    商品ID[：:](?P<商品ID>.+)）""",flags=re.S|re.X)
data_r = pd.concat([data,data_info,data_dd],axis=1)
data_r['规格'] = data_r['规格'].str.strip('，,')
data_r

              商品名  规格                商品ID
0   （Delsey）双肩休闲包  红，  S0001P0001C0001P02
1  （Delsey）商务电脑背包  黑，  S0001P0001C0002P01

,#,订单号,订单详情,数量,支付金额,原价,购买时折扣,用户信息,备注,订单状态,下单时间,支付时间,操作,收件人,手机号码,收货地址,商品名,规格,商品ID
0,1,19121056975357,法国大使（Delsey）双肩休闲包（规格：红，商品ID:S0001P0001C0001P02...,10,￥2590,￥2590,100%,下单人：卢斌\n手机：13667304230\n收货地址：湖南省长沙市开福区芙蓉中路218和...,,已完成,2019-12-10 20:12:28,2019-12-10 20:12:37,,卢斌,13667304230,湖南省长沙市开福区芙蓉中路218和府大厦92,（Delsey）双肩休闲包,红,S0001P0001C0001P02
1,2,19121010251551,法国大使（Delsey）商务电脑背包（规格：黑，商品ID:S0001P0001C0002P0...,1,￥215,￥215,100%,下单人：汪大鹏\n手机：15207442488\n收货地址：湖南省长沙市天心区芙蓉中路二段188号,,未发货,2019-12-10 19:12:55,2019-12-10 19:12:04,发货,汪大鹏,15207442488,湖南省长沙市天心区芙蓉中路二段188号,（Delsey）商务电脑背包,黑,S0001P0001C0002P01

In [11]:
data['用户信息'].str.extract("(?<收件人>(?<=下订单：))")

,#,订单号,订单详情,数量,支付金额,原价,购买时折扣,用户信息,备注,订单状态,下单时间,支付时间,操作
0,1,19121056975357,法国大使（Delsey）双肩休闲包（规格：红，商品ID:S0001P0001C0001P02...,10,￥2590,￥2590,100%,下单人：卢斌\n手机：13667304230\n收货地址：湖南省长沙市开福区芙蓉中路218和...,,已完成,2019-12-10 20:12:28,2019-12-10 20:12:37,
1,2,19121010251551,法国大使（Delsey）商务电脑背包（规格：黑，商品ID:S0001P0001C0002P0...,1,￥215,￥215,100%,下单人：汪大鹏\n手机：15207442488\n收货地址：湖南省长沙市天心区芙蓉中路二段188号,,未发货,2019-12-10 19:12:55,2019-12-10 19:12:04,发货

In [112]:
v

NameError: name 'v' is not defined

In [48]:
original
free

In [56]:
for page in range(2, doc('.pagination>li>a').length + 1):
    params['page'] = page
    rep = requests.get(url +"?"+urlencode(params),headers=headers)
    doc = pq(rep.text)
    txt = doc('tbody tr')[0].cssselect('td')[1].text
    print(txt)

19120997501015
19120999481021