In [1]:
import sys
sys.path.append(r"D:\往期\QHJ\ZERO")
import os
import json

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sqlalchemy import create_engine
from coord_convert.transform import gcj2bd



import pymysql

from tools import *

In [2]:
conn = pymysql.Connect(**MYSQL_MALL_DIC)
cursor = conn.cursor(cursor=pymysql.cursors.DictCursor)
engine_conn = "mysql+pymysql://{user}:{password}@{host}:{port}/{database}".format(**MYSQL_MALL_DIC)
engine = create_engine(engine_conn,encoding='utf-8')
save_dir = r"D:\往期\QHJ\echart"

# order_df = pd.read_sql('select * from order_details where 下单时间>="2019-12-01 00:00:00"',engine)
goods_df = pd.read_sql('select * from goods',engine,)
cursor.execute('select * from order_details where 下单时间>="2019-12-01 00:00:00"')
d = cursor.fetchall()
order_df = pd.DataFrame(d)

In [34]:
s=  pd.Series(np.random.randint(1,100,20),name='年龄')
s1 = pd.cut(s,[0,8,19,36,56,100],labels=['幼年','少年','青少年','中年','老年'])
s1.name = "年龄阶段"
df = pd.concat([s,s1],axis=1)

In [49]:
df.head(2)

   年龄 年龄阶段
0  88   老年
1  61   老年

In [54]:
agg = df.groupby('年龄阶段')

In [55]:
def t(x):
    print(x)
agg.apply(t)

   年龄 年龄阶段
2   1   幼年
   年龄 年龄阶段
2   1   幼年
    年龄 年龄阶段
7   12   少年
15  11   少年
    年龄 年龄阶段
5   23  青少年
6   34  青少年
14  30  青少年
17  27  青少年
    年龄 年龄阶段
9   48   中年
13  41   中年
    年龄 年龄阶段
0   88   老年
1   61   老年
3   79   老年
4   86   老年
8   57   老年
10  57   老年
11  61   老年
12  80   老年
16  78   老年
18  76   老年
19  64   老年

Empty DataFrame
Columns: []
Index: []

In [80]:
df = pd.DataFrame({'A': range(3), 'B': range(1, 4)})
df.transform({"A":np.sqrt,"B":[np.sqrt,np.exp]})

          A         B
       sqrt      sqrt        exp
0  0.000000  1.000000   2.718282
1  1.000000  1.414214   7.389056
2  1.414214  1.732051  20.085537

In [152]:
def t(x):
    print(x)
    return x.count()
order_df[:10][['商品ID','订单号',"goods_type",'联系方式']].groupby(['商品ID','goods_type']).agg(t)

2    0154427419014946
3    0167197513254485
4    0253294269224372
6    0305574097502621
7    0370092247079153
8    0404454840150669
Name: 订单号, dtype: object
0    0070989020623815
5    0263802042014941
9    0405382866061700
Name: 订单号, dtype: object
1    0149891054111246
Name: 订单号, dtype: object
2    18670323312
3    15974191881
4    13786339797
6    18996109120
7    18173191016
8    18600068786
Name: 联系方式, dtype: object
0    15697336645
5    15674986958
9    15387533103
Name: 联系方式, dtype: object
1    13307364056
Name: 联系方式, dtype: object

                                  订单号  联系方式
商品ID                  goods_type
S0003P0001C0001P01E01 free          6     6
S0003P0001C0003P01E01 free          3     3
S0003P0001C0004P01E01 free          1     1

In [153]:
for x,y in order_df[:10][['商品ID','订单号',"goods_type",'联系方式']].groupby(['商品ID','goods_type']):
    print(x,y)

('S0003P0001C0001P01E01', 'free')                     商品ID               订单号 goods_type         联系方式
2  S0003P0001C0001P01E01  0154427419014946       free  18670323312
3  S0003P0001C0001P01E01  0167197513254485       free  15974191881
4  S0003P0001C0001P01E01  0253294269224372       free  13786339797
6  S0003P0001C0001P01E01  0305574097502621       free  18996109120
7  S0003P0001C0001P01E01  0370092247079153       free  18173191016
8  S0003P0001C0001P01E01  0404454840150669       free  18600068786
('S0003P0001C0003P01E01', 'free')                     商品ID               订单号 goods_type         联系方式
0  S0003P0001C0003P01E01  0070989020623815       free  15697336645
5  S0003P0001C0003P01E01  0263802042014941       free  15674986958
9  S0003P0001C0003P01E01  0405382866061700       free  15387533103
('S0003P0001C0004P01E01', 'free')                     商品ID               订单号 goods_type         联系方式
1  S0003P0001C0004P01E01  0149891054111246       free  13307364056

In [102]:
def t(x):
    return x[:5]
def t1(x):
    return x[5:10]
order_df[:10]['商品ID'].transform([
    lambda x:x[:5],
    lambda x:x[5:10]
])

  <lambda> <lambda>
0    S0003    P0001
1    S0003    P0001
2    S0003    P0001
3    S0003    P0001
4    S0003    P0001
5    S0003    P0001
6    S0003    P0001
7    S0003    P0001
8    S0003    P0001
9    S0003    P0001

In [4]:
order_df[:20]

,goods_type,lastupdate,lat,lng,下单时间,县区,发货商,发货时间,商品ID,国家,...,用户电话,用户等级,省份,签收时间,联系方式,街道,订单号,运单号,退订时间,送达时间
0,free,2019-12-18 18:17:46,27.80305900,113.21556300,2019-12-16 10:12:20,芦淞区,三金,None,S0003P0001C0003P01E01,中国,...,None,None,湖南省,None,15697336645,关新路,0070989020623815,75321121599569,None,None
1,free,2019-12-18 18:17:46,28.20180800,112.87602200,2019-12-12 19:12:22,岳麓区,三金,None,S0003P0001C0004P01E01,中国,...,None,None,湖南省,None,13307364056,麓云路,0149891054111246,3102993740261,None,None
2,free,2019-12-18 18:18:20,28.19252200,113.03591800,2019-12-12 19:12:49,芙蓉区,三金,None,S0003P0001C0001P01E01,中国,...,None,None,湖南省,None,18670323312,荷花路,0154427419014946,75320470944880,None,None
3,free,2019-12-18 18:18:20,28.21840100,113.00110900,2019-12-14 19:12:09,开福区,三金,None,S0003P0001C0001P01E01,中国,...,None,None,湖南省,None,15974191881,德雅路,0167197513254485,75321112453561,None,None
4,free,2019-12-24 18:15:56,27.82090900,113.14356700,2019-12-24 11:12:09,天元区,三金,None,S0003P0001C0001P01E01,中国,...,None,None,湖南省,None,13786339797,蓝盾路,0253294269224372,75323101110632,None,None
5,free,2019-12-26 17:30:30,24.93294600,118.64888900,2019-12-25 23:12:31,丰泽区,三金,None,S0003P0001C0003P01E01,中国,...,None,None,福建省,None,15674986958,西福路,0263802042014941,75323576985966,None,None
6,free,2019-12-26 17:30:30,22.60015000,113.84477200,2019-12-26 14:12:09,宝安区,三金,None,S0003P0001C0001P01E01,中国,...,None,None,广东省,None,18996109120,固戍二路,0305574097502621,75323577056956,None,None
7,free,2019-12-21 18:01:48,28.17566900,112.99680600,2019-12-19 16:12:09,雨花区,三金,None,S0003P0001C0001P01E01,中国,...,None,None,湖南省,None,18173191016,韶山中路,0370092247079153,73124857479566,None,None
8,free,2019-12-24 15:36:05,39.90354400,116.25234300,2019-12-21 23:12:21,石景山区,三金,None,S0003P0001C0001P01E01,中国,...,None,None,北京市,None,18600068786,玉泉路,0404454840150669,75322870026398,None,None
9,free,2019-12-18 18:18:20,28.20147000,112.97099000,2019-12-16 09:12:29,开福区,三金,None,S0003P0001C0003P01E01,中国,...,None,None,湖南省,None,15387533103,湘江中路,0405382866061700,75321121599648,None,None
10,free,2019-12-24 15:36:05,28.23519300,112.93142000,2019-12-21 19:12:29,岳麓区,三金,None,S0003P0001C0001P01E01,中国,...,None,None,湖南省,None,18711215582,金星北路,0407084832145216,75322870390166,None,None
11,free,2019-12-24 18:15:56,28.20147000,112.97099000,2019-12-24 09:12:10,开福区,三金,None,S0003P0001C0003P01E01,中国,...,None,None,湖南省,None,15387533103,湘江中路,0453322335095200,75323101110658,None,None
12,free,2019-12-18 18:18:20,28.20180800,112.87602200,2019-12-12 20:12:37,岳麓区,三金,None,S0003P0001C0003P01E01,中国,...,None,None,湖南省,None,13307364056,麓云路,0501250902978832,75320470374514,None,None
13,free,2019-12-24 11:20:26,34.26587000,108.94770100,2019-12-20 23:12:32,新城区,三金,None,S0003P0001C0001P01E01,中国,...,None,None,陕西省,None,18220177743,北大街,0694359318004327,75322356134246,None,None
14,free,2019-12-21 18:01:48,28.23922100,112.97999600,2019-12-19 16:12:36,开福区,三金,None,S0003P0001C0004P01E01,中国,...,None,None,湖南省,None,18173190251,湘江北路,0731357846869925,73124826718394,None,None
15,free,2019-12-21 18:01:48,27.82090900,113.14356700,2019-12-19 16:12:51,天元区,三金,None,S0003P0001C0002P01E01,中国,...,None,None,湖南省,None,13786339797,蓝盾路,0809107212417936,75322133371644,None,None
16,free,2019-12-18 18:18:20,28.20147000,112.97099000,2019-12-18 08:12:39,开福区,三金,None,S0003P0001C0002P01E01,中国,...,None,None,湖南省,None,15387533103,湘江中路,0858859340954466,75321629073949,None,None
17,free,2019-12-21 18:01:48,28.17488800,112.88656000,2019-12-19 21:12:47,岳麓区,三金,None,S0003P0001C0001P01E01,中国,...,None,None,湖南省,None,18613951311,近湖六路,0860996041539445,75322132697945,None,None
18,free,2019-12-18 18:18:20,28.20180800,112.87602200,2019-12-12 19:12:43,岳麓区,三金,None,S0003P0001C0003P01E01,中国,...,None,None,湖南省,None,13307364056,麓云路,1015787224552650,75320470374514,None,None
19,free,2019-12-21 18:01:48,28.20147000,112.97099000,2019-12-20 14:12:34,开福区,三金,None,S0003P0001C0002P01E01,中国,...,None,None,湖南省,None,19186960006,湘江中路,1038112857423536,75322133371603,None,None