In [1]:
import re
import os
from random import randint
import sys
sys.path.append(r"D:\往期\QHJ\ZERO")
sys.path.append(r"E:\dataparse\Python_DATA_PARSE\QHJ\ZERO")
from pyquery import PyQuery as pq
import requests
from sqlalchemy import create_engine
import pymysql
import pandas as pd

from tools import *

In [42]:
# engine = create_engine("mysql+pymysql://{user}:{password}@{host}:{port}/{database}".format(**MYSQL_MALL_DIC),encoding='utf-8')

In [5]:
conn = pymysql.Connect(**MYSQL_MALL_DIC)
cursor = conn.cursor(pymysql.cursors.DictCursor)
cursor.execute('select * from goods_class')
goods_class = pd.DataFrame(cursor.fetchall())
goods_class_dic = dict(zip(goods_class['class_name'],goods_class['class_id']))
mg = MallGoods(MALL_KEY)
spu_data = read_xl(COMMODITY_PATH,sheet_name="未上传")
spu_data['class_id'] = spu_data['系统分类'].apply(lambda x:goods_class_dic[x])
spu_data['goods_name'] = spu_data['商品名简称']

df = spu_data[['goods_name','goods_id','goods_type','class_id']]



mg.add_goods(df)

XLRDError: No sheet named <'未上传'>

In [3]:
mg.add_goods(df[:2])

{'code': 200, 'err_msg': '操作成功', 'data': ''}
{'code': 200, 'err_msg': '操作成功', 'data': ''}

In [4]:
df

                goods_name  goods_id goods_type  class_id
0             Delsey 双肩休闲包         1        NaN         1
1            Delsey 商务电脑背包         2        NaN         1
2            Delsey 商务旅行背包         3        NaN         1
3                LOVO 经典套装         6        NaN         4
4                LOVO 魅力格调        10        NaN         4
5                LOVO 唯美田园        11        NaN         4
6           SWAROVSKI 冰雪奇缘        18        NaN         7
7             SWAROVSKI 天鹅        21        NaN         7
8            SWAROVSKI 小蜜蜂        22        NaN         7
9             SWAROVSKI 钥匙        23        NaN         7
10        志高ZGS-216智能扫地机器人        24        NaN         8
11                   志高按摩椅        25        NaN         8
12                蓝牙音箱AP06        14        NaN         2
13               颈戴式运动蓝牙耳机        15        NaN         2
14           AirSolo单耳蓝牙耳机         9        NaN         2
15                 海尔空气净化器        16        NaN         8
16           爱玛电动车TDT1067Z        17        NaN         5
17          玛莎拉蒂 儿童平衡车无脚踏行        19        NaN         9
18        玛莎拉蒂 儿童滑板车MST005        20        NaN         9
19               iPhone 11         7        NaN         6
20           iPhone 11 Pro         8        NaN         6
21       iPhone 11 Pro Max        26        NaN         6
22      Huawei Mate 30 5G版        28        NaN         6
23  Huawei Mate 30 Pro 5G版        29        NaN         6
24    三金补水面膜 镇静维稳 深层补水(补水)         4       free         3
25    三金美肤面膜 美白功效 健康肤色(美肤)         5       free         3
26    三金护肤面膜 维稳修护 强化屏障(护肤)        12       free         3
27              三金水光针(水光针)        13       free         3

In [35]:


is_free = {
    "free":1
}

for i, row in spu_data[['goods_name','goods_id','goods_type','class_id']][:2].iterrows():
    
    data = {
        "goods_name": row['goods_name'],
        "class_id": row['class_id'],
        "goods_info":row['goods_name'],
        "is_free": is_free.get( row['goods_type'],0),
        "fake_sales": random.randint(12,30)
    }
    
    
    result = mg.add_goods(data)
    print(result)

In [15]:
from pprint import pprint

In [ ]:
mg.add_goods()

In [25]:
goods_class_dic

{'背包': 1,
 '数码产品': 2,
 '美容护肤': 3,
 '床上用品': 4,
 '电瓶车': 5,
 '智能手机': 6,
 '饰品': 7,
 '电器': 8,
 '儿童': 9}

{'code': 200, 'err_msg': '操作成功', 'data': ''}
{'code': 200, 'err_msg': '操作成功', 'data': ''}

In [22]:
for i, row in data[:2].iterrows():
    pprint(row.to_dict())

{'SPUID': 'S0001P0001C0001',
 'attr_stock': nan,
 'goods_id': 1,
 'goods_type': nan,
 'img_dir': 'D:\\奇货居\\素材\\商城图片素材\\傻傻\\Delsey\\00001560002双肩休闲包',
 '交易编码': 'E01',
 '供应商': 'Delsey',
 '供应商ID': 'P0001',
 '单位': '个',
 '发货商': '傻傻',
 '发货商ID': 'S0001',
 '售价': 259,
 '商品ID': 'S0001P0001C0001P01E01',
 '商品名': '法国大使（Delsey）00001560002休闲 背包双肩背包 休闲包 手提休闲背包市场价399元',
 '商品名简称': 'Delsey 双肩休闲包',
 '商品编码': 'C0001',
 '市场价': 399,
 '序号': 1,
 '类别': nan,
 '系统分类': '背包',
 '规格': '蓝',
 '规格模式': '颜色',
 '规格编码': 'P01',
 '货品编号': nan}
{'SPUID': 'S0001P0001C0002',
 'attr_stock': nan,
 'goods_id': 2,
 'goods_type': nan,
 'img_dir': 'D:\\奇货居\\素材\\商城图片素材\\傻傻\\Delsey\\70371560011商务电脑背包',
 '交易编码': 'E01',
 '供应商': 'Delsey',
 '供应商ID': 'P0001',
 '单位': '个',
 '发货商': '傻傻',
 '发货商ID': 'S0001',
 '售价': 215,
 '商品ID': 'S0001P0001C0002P01E01',
 '商品名': '法国大使（Delsey）70371560011商务电脑背包 双肩背包市场价389元',
 '商品名简称': 'Delsey 商务电脑背包',
 '商品编码': 'C0002',
 '市场价': 389,
 '序号': 2,
 '类别': nan,
 '系统分类': '背包',
 '规格': '黑',
 '规格模式': '颜色',
 '规格编码': 'P01',
 '货品编号': nan}

In [14]:
def t(x ,*arg):
    print('1')

'D:\\奇货居\\素材\\商城图片素材\\商品信息.xlsx'

In [10]:
goods_class_dic

{'背包': 1,
 '数码产品': 2,
 '美容护肤': 3,
 '床上用品': 4,
 '电瓶车': 5,
 '智能手机': 6,
 '饰品': 7,
 '电器': 8,
 '儿童': 9}

{'背包': '1',
 '儿童': '9',
 '数码产品': '2',
 '智能手机': '6',
 '电器': '8',
 '美容护肤': '3',
 '床上用品': '4',
 '电瓶车': '5',
 '饰品': '7'}

In [ ]:
cursor.execute()

In [ ]:
cursor.executemany()

In [40]:
MYSQL_MALL_DIC

{'user': 'root',
 'password': 'jiuguai',
 'host': 'localhost',
 'port': 3306,
 'database': 'qhj',
 'charset': 'utf8mb4'}

In [25]:

trs

In [32]:
tr.attr('cate-id')

'1'

  class_id class_name
0        1         背包
1        9         儿童
2        2       数码产品
3        6       智能手机
4        8         电器
5        3       美容护肤
6        4       床上用品
7        5        电瓶车
8        7         饰品

In [45]:
class_data.to_sql('goods_class',engine,)

ValueError: Table 'goods_class' already exists.

In [2]:
imgs = doc("tbody td img[goods_id]")

In [3]:
imgs

[]